@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Merriweather:wght@300;700&family=Montserrat:wght@100;200&family=Nunito:wght@200;300&family=Outfit:wght@400;700&family=Oxygen:wght@700&family=Raleway:wght@100&family=Sacramento&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: rgb(87, 231, 253);
}
.attribution {
  font-size: 18px;
  text-align: center;
  margin-top: 190px;
  font-family: 'Kumbh Sans', sans-serif;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration:  hsl(227, 10%, 46%);
}
.bottom1{
  position: absolute;
  bottom: -550px;
  right: -200px;

}
.wrap{
    position: relative;
    margin-top: 150px;
    background-color: white;
    border-radius: 15px;
    height: 450px;
    width: 400px;
}
.top-img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.follower-parag{
    display: inline;
}
.P-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    padding: 5px;
    font-weight: bold;
}
.victor-img{
    position: relative;
    top: -50px;
    border-radius: 50%;
    border: 5px solid white;x
}
.top1{
  position: absolute;
  top: -660px;
  left: -50px;
 
}
.text-under-img{
  margin-top: -40px;
  
}

span{
 font-weight: normal;
}
.comment{
  margin-top: 60px;
}
